@import "~bootstrap/dist/css/bootstrap.min.css";
.♥,
.♦ {
  color: red;
}

#topsuit {
  margin-top: -25px;
}

#bottomsuit {
  transform: rotate(-180deg);
  margin-bottom: -25px;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}
